.Pricing {
  padding: 120px 0;
  background-image: url(../../../asset/image/background-pricing.png);
  background-color: #1f3e76;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.hidden {
  visibility: hidden;
}
.activeBenefit {
  color: #25cb9e;
}
.noBenefit {
  opacity: 50%;
}
.Pricing .container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 25px;
  padding-top: 75px;
}
.packages {
  position: relative;
  border-radius: 10px;
  padding: 62px 70px 50px 40px;
  flex-basis: 38.5%;
}
.suggest {
  height: 32px;
  display: grid;
  place-content: center;
  position: absolute;
  margin-top: -42px;
  padding: 0 10px;
  background-color: #ef9e48;
  font-size: 14px;
  letter-spacing: -0.14px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 5px;
  color: white;
}
.namePK {
  font-size: 22px;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: 12px;
}
.name-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.benefit {
  display: flex;
  margin-bottom: 22px;
  padding-right: 30px;
  line-height: 1.65;
}
.activeBenefit svg {
  font-size: 22px;
  margin-top: 1.5px;
  margin-right: 14px;
}
.price-month p {
  padding-bottom: 10px;
}
.price-month .price {
  color: #25cb9e;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: right;
}
.packages .btn {
  margin: 0 auto;
  margin-top: 70px;
}
/* ------------------ */
.Question {
  padding: 120px 0;
}
.Question .container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 75px;
}
.Question .questions {
  width: 745px;
  margin: 0 auto;
}
.questions .question {
  padding: 17px 0;
  border-bottom: 1px solid #e5ecf4;
  transition: all 0.3s linear;
}
.questions .question:last-child {
  border-bottom: none;
}
.questions .ask {
  color: #0f2137;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 500;
  padding-left: 45px;
  cursor: pointer;
  position: relative;
}
.questions .answer {
  color: #343d48;
  font-size: 16px;
  line-height: 2;
  padding-left: 45px;
  transition: all 0.25s ease;
  height: 0;
  overflow: hidden;
}
.show {
  margin-top: 12px;
  margin-bottom: 10px;
}
.open,
.close {
  height: 20px;
  width: 20px;
  background-color: #25cb9e;
  position: absolute;
  left: 12px;
  top: 6px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-size: 22px;
  color: white;
}
.close {
  display: none;
}
.show .close {
  display: grid;
}
.show .open {
  display: none;
}
@media screen and (max-width: 1366px) {
  .Pricing .container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .packages {
    flex-basis: 40%;
  }
  .packages .benefit {
    padding-right: 0;
  }
}
@media screen and (max-width: 1224px) {
  .Question {
    padding: 100px 0;
  }
  .Question .container {
    padding-top: 55px;
  }
}
@media screen and (max-width: 1025px) {
  .Pricing .container {
    max-width: 768px;
  }
  .packages {
    flex-basis: 50%;
    padding: 62px 25px 50px 25px;
  }
  .packages .detail {
    font-size: 15px;
  }
  .packages .benefit {
    padding-right: 10px;
  }
  .price-month .price {
    font-size: 22px;
  }
  .packages .btn {
    margin-top: 40px;
  }
  .Question .container {
    padding-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .Pricing .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .packages {
    max-width: 380px;
    padding: 50px 15px 50px;
  }
  .namePK {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .name-price {
    margin-bottom: 35px;
  }
  .activeBenefit svg {
    font-size: 16px;
  }
  .suggest {
    height: 28px;
    margin-top: -36px;
  }
  .price-month .price {
    font-size: 20px;
    line-height: 1.25;
  }
  .price-month p {
    font-size: 15px;
  }
  .price-month {
    margin-top: -3px;
  }
}
@media screen and (max-width: 640px) {
  .Question {
    padding: 80px 0;
  }
  .Question .container {
    padding-top: 45px;
  }
  .questions .ask {
    font-size: 16px;
  }
  .questions .answer {
    font-size: 15px;
  }
}
