#home {
  background-color: #1f3e76;
  display: grid;
  place-items: center;
  background-image: url(../../../asset/image/background.png);
  border-bottom-right-radius: 250px;
  overflow: hidden;
  padding-bottom: 35px;
}
.container {
  padding-top: 150px;
  max-width: 1250px;
  display: flex;
  color: white;
}
.information {
  display: flex;
  flex-direction: column;
}
.imgPhone {
  margin-left: -280px;
  margin-right: -290px;
  margin-top: -20px;
  width: 100%;
}
.imgPhone img {
  height: auto;
}
.title h1 {
  font-size: 78px;
  font-weight: 700;
}
#home .text p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 2.2;
  padding-right: 125px;
  margin-bottom: 50px;
  color: white;
}
.action {
  display: flex;
}
.action .btn {
  color: #0f2137;
  font-size: 16px;
  background-color: white;
}
.action .video {
  gap: 0.6rem;
  background-color: transparent;
  border: none;
  color: white;
}
.action .video:hover {
  box-shadow: none;
}
.action .video i {
  font-size: 25px;
}
.orther {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 0 1rem;
  text-transform: capitalize;
  color: #ffffff;
}
.orther p {
  opacity: 0.5;
}
.sponsoreds {
  display: flex;
  gap: 0 2rem;
}
.information img {
  width: 100%;
}
.sponsored {
  display: grid;
  place-items: center;
}
.sponsored:nth-child(3) img {
  width: 80%;
}
.videoYoutube {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  display: none;
}
.showVideo {
  display: flex;
}
.videoYoutube .icon-close {
  position: unset;
  margin-top: -550px;
}
.videoYoutube iframe {
  max-width: 880px;
  height: 510px;
  width: 80%;
  border: none;
}
@media screen and (min-width: 1220px) and (max-width: 1600px) {
  .title h1 {
    font-size: 66px;
  }
}
@media screen and (max-width: 1320px) {
  .title h1 {
    font-size: 52px;
  }
  .navBar {
    max-width: 1100px;
    padding-right: 0;
    padding-left: 0;
  }
  .container {
    max-width: 1100px;
  }
  .information {
    width: 55%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  #home {
    overflow: hidden;
    padding-bottom: 110px;
  }
  .navBar {
    justify-content: space-between;
  }
  .link {
    letter-spacing: 0;
  }
  #home .container {
    max-width: 1200px;
    padding-right: 30px;
    padding-left: 30px;
  }
  #home .text p {
    font-size: 17px;
    margin-bottom: 40px;
  }
  .information {
    width: 65%;
  }
  .orther {
    margin-top: 35px;
  }
  .imgPhone {
    margin-left: -37px;
    margin-right: -154px;
    margin-top: 20px;
    margin-bottom: -45px;
    overflow: hidden;
  }
  .imgPhone img {
    width: 100%;
  }
  .navBar {
    max-width: 1200px;
  }
  .btn {
    padding: 13px 30px;
  }
}
@media screen and (max-width: 1025px) {
  #home {
    padding-bottom: 110px;
    border-bottom-right-radius: 150px;
  }
  .navBar {
    max-width: 780px;
    padding: 0 25px;
  }
  .links {
    display: none;
  }
  .fa-bars {
    display: block;
  }
  .container {
    max-width: 780px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn {
    padding: 10px 18px;
    font-size: 15px;
    letter-spacing: 0;
  }
  .title h1 {
    font-size: 48px;
    line-height: 1.2;
  }
  .imgPhone {
    margin-left: -124px;
    margin-right: -149px;
    margin-top: 40px;
  }
  .imgPhone img {
    width: 100%;
  }
  .information {
    width: 70%;
  }
  #home .text p {
    padding-right: 0;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 2;
    margin-top: 25px;
  }
  .orther {
    margin-top: 35px;
  }
  .orther p {
    font-size: 16px;
  }
  .sponsoreds {
    gap: 0 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  #home {
    padding-bottom: 100px;
  }
  .header {
    padding: 15px 0;
  }
  .navBar {
    max-width: 100%;
  }
  .imgPhone {
    display: none;
  }
  .information {
    width: 85%;
    margin: 0 auto;
  }
  #home .container {
    padding-left: 0;
  }
  .title h1 {
    font-size: 60px;
  }
  #home .text p {
    font-size: 20px;
  }
  .videoYoutube iframe {
    width: 92%;
  }
}
@media screen and (min-width: 480px) and (max-width: 640px) {
  .title h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 480px) {
  .navBar {
    padding: 0 20px;
  }
  #home {
    border-bottom-right-radius: 100px;
  }
  .orther {
    text-align: left;
    flex-direction: column;
    gap: 10px;
  }
  .orther p {
    width: 100%;
  }
  .title h1 {
    font-size: 40px;
  }
  #home .text p {
    font-size: 16px;
  }
  #home .container {
    max-width: 100%;
    padding-right: 0;
  }
  .logo {
    padding-right: 10px;
    width: 50%;
  }
  .btn-iconBar {
    gap: 0.8rem;
  }
  .btn {
    font-size: 14px;
    padding: 11px 16px 10px 16px;
    letter-spacing: -0.2px;
  }
}
@media screen and (max-width: 326px) {
  .btn {
    padding: 11px 10px 10px 10px;
  }
}
