.section1,
.section3 {
  padding: 120px 0;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textUpCase {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #244886;
  margin-bottom: 15px;
}
h2 {
  font-size: 36px;
  line-height: 1.2;
  color: #0f2137;
}
.section1 .boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1300px;
  padding: 0 80px;
  margin: 0 auto;
  padding-top: 15px;
  margin-top: 75px;
}
.section1 .name {
  margin-top: 25px;
}
.section1 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  text-align: center;
}
.name {
  margin-bottom: 15px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  color: #0f2137;
}
.text {
  color: #343d48;
  line-height: 2;
}
.section2 {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 0;
  align-items: center;
  gap: 4rem;
}
.section2::before {
  position: absolute;
  content: "";
  top: auto;
  left: 0;
  background: linear-gradient(-157deg, #f6fafd, #f9fcfc, #fcfdfc);
  height: 60%;
  width: 50%;
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translateY(0);
}
.phone-section2 {
  padding: 0 100px;
}
.section2 h2,
.section4 h2,
.Payment h2 {
  font-size: 46px;
  margin-bottom: 25px;
}
.section2 .box {
  display: flex;
  padding: 30px 25px;
  gap: 2rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.section2 .box:hover {
  box-shadow: 0px 8px 24px rgb(69 88 157 / 7%);
}
.section2 .name {
  font-size: 18px;
}
.infor-section2,
.infor-payment {
  width: 570px;
  padding-right: 80px;
}
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}
.section3 .boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 4rem;
  margin-top: 75px;
}
.section3 .box {
  display: flex;
  padding: 30px 0;
  gap: 2rem;
}
.section4 {
  display: flex;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 120px;
}
.section4 .infor-section4 {
  width: 570px;
}
.section4 .text,
.Payment .text {
  color: #02073e;
  font-size: 18px;
  line-height: 2.2;
  text-align: left;
  margin-bottom: 25px;
}
.section4 .btn {
  background-color: #1f3e76;
  color: white;
}
.img-section4 {
  margin-right: -50px;
}
@media screen and (max-width: 1380px) {
  .img-section4 {
    margin-right: 0;
  }
}

.section5 {
  padding: 100px 0;
  background-color: #1f3e76;
  background-image: url(../../../asset/image/background-section5.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}
.section5 .textUpCase,
.Pricing .textUpCase {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  opacity: 0.5;
}
.section5 h2,
.Pricing h2 {
  color: white;
  font-size: 36px;
  line-height: 1.2;
}
.container-section5 {
  margin: 0 auto;
  max-width: 1250px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  padding-top: 55px;
}
.section5 .content {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.content .number {
  color: #1f3e76;
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.section5 .name {
  color: white;
}
.section5 .text {
  color: #ffffff;
  opacity: 0.65;
}
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .section1 img {
    width: 100px;
  }
  .section1 .box {
    padding: 0 30px;
  }
  h2 {
    font-size: 32px;
  }
  .section2 {
    max-width: 1200px;
    gap: 0;
  }
  .phone-section2 img {
    height: 100%;
  }
  .phone-section2 {
    height: 700px;
    margin-left: 100px;
    padding: 0 50px;
  }
  .section2 h2,
  .section4 h2,
  .Payment h2 {
    font-size: 42px;
    line-height: 1.2;
  }
  .section3 img {
    width: 70px;
  }
  .section3 {
    padding-left: 50px;
    padding-right: 50px;
  }
  .section3 .text {
    font-size: 15px;
  }
  .section3 .box {
    gap: 1rem;
  }
  .section4 {
    max-width: 1250px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .section4 img {
    width: 100%;
  }
  .container-section5 {
    max-width: 1250px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 1025px) {
  #features {
    overflow: hidden;
  }
  h2 {
    font-size: 28px !important;
  }
  .section1 {
    padding: 100px 0;
  }
  .section1 .boxs {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 0;
    padding: 0 70px;
    line-height: 1.85;
    max-width: 780px;
  }
  .section1 .text {
    line-height: 1.9;
    font-size: 15px;
  }
  .section1 .name {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .section1 img {
    width: 90px;
  }
  .section1 .box {
    padding: 0 25px;
  }
  .phone-section2 img {
    min-width: 0;
    max-width: 100%;
    height: auto;
  }
  .phone-section2 {
    padding: 0;
    padding-right: 20px;
  }
  .infor-section2 .infor-payment {
    padding: 0;
    width: 600px;
  }
  .section2 h2,
  .section4 h2,
  .Payment h2 {
    font-size: 32px !important;
    line-height: 1.3;
  }
  .section2 {
    max-width: 780px;
    gap: 0;
    padding: 0;
  }
  .section2 .box {
    padding: 0;
    padding-bottom: 20px;
  }
  .section3 {
    max-width: 780px;
    padding: 100px 0;
  }
  .section3 .boxs {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
  .section3 img {
    height: 60px;
  }
  .section3 .name {
    margin-bottom: 10px;
  }
  .section4 {
    width: 780px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .section4 img {
    box-sizing: border-box;
    height: auto;
    min-width: 0;
    max-width: 100%;
    width: 60%;
  }
  .img-section4 {
    margin-right: -335px;
  }
  .section4 .infor-section4 {
    width: 350px;
  }
  .section4 .text,
  .Payment .text {
    line-height: 2;
    font-size: 16px;
  }
  .container-section5 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 780px;
    padding-left: 30px;
    padding-right: 30px;
    grid-gap: 45px 50px;
  }
  .section5 .name {
    text-transform: none;
  }
  .content .number {
    height: 60px;
    width: 60px;
    border-radius: 23px;
    font-size: 28px;
  }
  .section5 .text {
    line-height: 1.9;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px !important;
  }
  .section1 .box {
    padding: 0;
  }
  .section1 .name {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .section1 img {
    width: 90px;
  }
  .section2 {
    flex-direction: column-reverse;
  }
  .section2 h2 {
    font-size: 28px !important;
    text-align: center;
  }
  .section2 .textUpCase {
    text-align: center;
  }
  .infor-section2,
  .infor-payment {
    padding-right: 0;
    max-width: 550px;
    padding-bottom: 35px;
  }
  .section2 .boxs {
    display: grid;
    place-items: center;
    grid-gap: 1.5rem;
  }
  .section2 .box {
    width: 85%;
    gap: 1.5rem;
    padding: 0;
  }
  .section2 .name {
    margin-bottom: 10px;
  }
  .section3 {
    padding: 100px 30px;
  }
  .section3 .boxs {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 1.2rem;
    margin-top: 60px;
  }
  .section3 .name {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
  }
  .section3 .text {
    font-size: 15px;
    font-weight: 400;
  }
  .section3 .box {
    gap: 1rem;
  }
  .section4 {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    padding: 10px 0 100px 0;
  }
  .section4 .text,
  .Payment .text {
    text-align: center;
  }
  .section4 .btn {
    margin: 0 auto;
  }
  .img-section4 {
    margin: 0;
    width: 550px;
  }
  .section4 img {
    width: 100%;
  }
  .container-section5 {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .content .number {
    height: 60px;
    width: 60px;
    border-radius: 23px;
  }
}
@media screen and (max-width: 480px) {
  .section1 {
    padding: 80px 20px;
  }
  .section1 .boxs {
    max-width: 100%;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
  .section1 .name {
    margin-top: 0;
    font-size: 18px;
  }
  .section1 img {
    width: 80px;
  }
  .textUpCase {
    font-size: 12px !important;
  }
  h2,
  .section2 h2,
  .section4 h2,
  .Payment h2 {
    font-size: 24px !important;
  }
  .section2 {
    padding: 0 20px;
  }
  .infor-section2 {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 45px;
  }
  .infor-payment {
    max-width: 100%;
  }
  .section2 .box {
    width: 100%;
  }
  .section2 .box img {
    width: 50px;
  }
  .section3 {
    padding: 80px 20px;
  }
  .section3 .boxs {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin-top: 50px;
    grid-gap: 35px 0;
  }
  .section3 .box {
    padding: 0;
  }
  .section3 .text {
    line-height: 1.85;
  }
  .section4 {
    padding: 10px 20px 80px 20px;
  }
  .img-section4 {
    max-width: 100%;
  }
  .section4 .text,
  .Payment .text {
    font-size: 15px;
    line-height: 1.85;
  }
  .section5 {
    padding: 80px 20px;
  }
  .container-section5 {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    padding-top: 50px;
    grid-gap: 35px 0;
  }
  .section5 .content {
    text-align: center;
    align-items: center;
  }
  .section5 .name {
    font-size: 18px;
  }
  .section5 .text {
    font-size: 15px;
  }
  .content .number {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 24px;
  }
}
