.testimonial {
  padding: 100px 0;
  text-align: center;
}
.testimonial .container {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 75px;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.slide .yellow svg {
  color: #f6c416;
}
.slide svg {
  color: rgb(221, 221, 221);
}
.slider .job {
  color: #343d48;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 15px;
}
.slider .twitter {
  color: rgb(37, 160, 255);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
}
.slider .name {
  font-size: 16px;
  color: #343d48;
  margin: 3px;
}
.listStar {
  display: flex;
}
.slider {
  text-align: left;
  transition: all 0.3s linear;
  position: relative;
}
.slide {
  position: absolute;
  padding: 35px 30px 40px 40px;
  width: calc(91% / 3);
  box-shadow: rgb(38 78 118 / 35%) 0px 0px 1px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: all 0.3s linear;
  margin-left: calc(100% + 20px);
}
.slide:nth-child(1) {
  margin-left: calc(-100%) !important;
}
.slide:nth-child(2) {
  margin-left: calc(-100% / 3 * 2) !important;
}
.slide:nth-child(3) {
  margin-left: calc(-100% / 3) !important;
}
.slide:nth-child(4) {
  margin-left: 20px;
}
.slide:nth-child(5) {
  margin-left: calc(100% / 3 + 20px);
}
.slide:nth-child(6) {
  margin-left: calc(100% / 3 * 2 + 20px);
}
.slide:nth-child(8) {
  margin-left: calc(100% + 20px * 2);
}
.slide:nth-child(9) {
  margin-left: calc(100% + 20px * 3);
}
.slide:hover {
  box-shadow: rgb(38 78 118 / 10%) 0px 6px 47px;
}
.inforPerson {
  display: flex;
  gap: 1.5rem;
  margin-top: 33px;
}
.control_slide button {
  color: rgb(187, 199, 215);
  background-color: transparent;
  border: none;
  font-size: 40px;
  transition: all 0.25s linear;
  cursor: pointer;
  margin: 450px 10px 0 0;
  transition: all 0.25s ease;
}
.control_slide button:hover {
  color: #343d48;
}
/* ------------Payment----------- */
.Payment {
  overflow: hidden;
}
.Payment .container {
  margin: 0 auto;
  position: relative;
  padding-top: 0;
}
.imgPayment {
  padding-top: 120px;
  padding-right: 100px;
}
.Payment img {
  width: 100%;
}
.Payment .infor-payment {
  padding-top: 200px;
  padding-bottom: 100px;
}
.infor-payment {
  padding-right: 0;
}
.background {
  position: absolute;
  background-image: url(../../../asset/image/background-payment.jfif);
  background-repeat: no-repeat;
  width: calc(50vw + 625px);
  height: 99%;
  z-index: -1;
}
.Payment .btn {
  background-color: #1f3e76;
  color: white;
  border: none;
}
@media screen and (max-width: 1220px) {
  .testimonial .container {
    max-width: 1000px;
  }
  .slide {
    width: calc(91% / 2);
    padding: 30px 30px 35px;
  }
  .slide:nth-child(1),
  .slide:nth-child(2),
  .slide:nth-child(3) {
    margin-left: calc(-100% / 2) !important;
  }
  .slide:nth-child(4) {
    margin-left: 20px;
  }
  .slide:nth-child(5) {
    margin-left: calc(100% / 2 + 20px) !important;
  }
  .slide:nth-child(6) {
    margin-left: calc(100% + 20px) !important;
  }
  .slider .job {
    margin-bottom: 22px;
    letter-spacing: -0.5px;
  }
  .Payment .container {
    max-width: 950px;
  }
  .Payment .infor-payment h2 {
    font-size: 36px;
  }
  .background {
    width: calc(50vw + 480px);
  }
  .imgPayment {
    padding-top: 100px;
    padding-bottom: 20px;
    padding-right: 50px;
  }
  .imgPayment img {
    width: 95%;
  }
  .Payment .infor-payment {
    padding-top: 150px;
    padding-bottom: 0;
  }
  .Payment .text {
    line-height: 2;
    font-size: 16px;
  }
}
@media screen and (max-width: 1025px) {
  .testimonial .container {
    max-width: 750px;
  }
  .slide {
    padding: 35px 30px 40px 40px;
  }
  .Payment .container {
    max-width: 100%;
    padding: 0;
  }
  .infor-payment {
    width: 700px;
    padding: 120px 20px 100px 40px !important;
  }
  .Payment .text {
    text-align: left;
  }
  .imgPayment {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .testimonial .container {
    max-width: 720px;
  }
  .slider .job {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .inforPerson {
    margin-top: 25px;
  }
  .Payment .container {
    flex-direction: column-reverse;
  }
  .Payment .btn {
    margin: 0 auto;
  }
  .Payment .text {
    font-size: 16px;
    line-height: 1.85;
    text-align: center;
  }
  .imgPayment {
    padding: 0;
  }
  .infor-payment {
    text-align: center;
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  .testimonial .container {
    max-width: 95%;
  }
  .slide {
    width: 95%;
  }
  .slide:nth-child(1),
  .slide:nth-child(2),
  .slide:nth-child(3) {
    margin-left: -100% !important;
  }
  .slide:nth-child(4) {
    margin-left: 15px;
  }
  .slide:nth-child(6),
  .slide:nth-child(5) {
    margin-left: calc(100% + 20px) !important;
  }
}
@media screen and (max-width: 480px) {
  .testimonial {
    padding: 80px 0;
  }
  .testimonial .container {
    margin-top: 20px;
  }
  .slide {
    font-size: 15px;
  }
  .slide:nth-child(4) {
    margin-left: 8px;
  }
  .control_slide button {
    margin: 400px 5px 0;
  }
  .infor-payment {
    text-align: center;
    width: 100%;
    padding: 0 20px 50px 20px !important;
  }
  .Payment .text {
    font-size: 15px;
  }
}
